# certM3.config
# Example configuration file for certM3 app and signer

# Common settings
LOG_LEVEL=info
LOG_FILE=/var/log/certM3/mw.log

# App server specific
APP_LISTEN_ADDR=:8080  # External HTTPS endpoint
APP_SOCKET_PATH=/var/run/certm3/app.sock  # Internal UNIX socket
JWT_SECRET=your_jwt_secret_here
BACKEND_SOCKET_PATH=/var/run/certm3/backend.sock  # Internal UNIX socket
RATE_LIMIT_PER_IP=1

# Signer specific
SIGNER_SOCKET_PATH=/var/run/certm3/signer.sock  # Internal UNIX socket
SIGNER_CA_PATH=/path/to/ca
SIGNER_KEY_PASSWORD_VAR=SIGNER_CA_KEY_PASSWORD
SIGNER_SUBJECT_OU=Service Operations
SIGNER_SUBJECT_O=My Organization
SIGNER_SUBJECT_L=My City
SIGNER_SUBJECT_ST=My State
SIGNER_SUBJECT_C=US
SIGNER_CERT_VALIDITY_DAYS=365
SIGNER_CRL_URL=http://urp.ogt11.com/crl
SIGNER_AIA_URL=http://urp.ogt11.com/aia
SIGNER_ROLE_OID=1.3.6.1.4.1.10049.1.1
SIGNER_KEY_USAGE=nonRepudiation:non-critical
SIGNER_EXTENDED_KEY_USAGE=emailProtection,1.3.6.1.4.1.311.20.2.2:non-critical 
